Example/EachNavigationBar.xcodeproj/xcuserdata/pircate.xcuserdatad/xcschemes/xcschememanagement.plist
Example/Pods/Pods.xcodeproj/xcuserdata/pircate.xcuserdatad/xcschemes/xcschememanagement.plist
.Gemfile.lock.icloud
EachNavigationBar/Assets/EachNavigationBar.xcassets/.Contents.json.icloud
EachNavigationBar/Assets/EachNavigationBar.xcassets/navigation_back_default.imageset/.Contents.json.icloud
fastlane/report.xml